$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

body {
  background-color: black;
}

.arrow-left img, .arrow-right img {
  display: block;
  margin-top: 230px;
}

.arrow-left, .arrow-right {
  min-height: 585px;
  cursor: pointer;
}

.image-list {
  display: block;
  margin: 1em auto;
}

.image-list li {
  display: inline-block;
  list-style: none;
  margin: 0 .7em;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.current {
  outline: solid 2px yellow;
}

#gallery {
  margin-top: 3em;
  margin-bottom: 1em;
}